<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제화면</title>
</head>
<body>
    <h1>결제화면</h1>

    상품 이름 : <input type="text" name="productName" id="productName" value="상품1">
    상품 가격 : <input type="text" name="productCost" id="productCost" value="1">
    <hr>
    
    <h3>고객 정보</h3>
    <input type="hidden" name="userId" id="userId" value="user1">
    이름 : <input type="text" name="userName" id="userName">
    <br>우편번호 : <input type="text" name="userPost" id="userPost">
    <br>주소 : <input type="text" name="userAddress" id="userAddress">
    <br>휴대전화 : <input type="text" name="userPhone" id="userPhone">

    <h3>배송지 정보</h3>
    <input type="hidden" name="userId" id="userId" value="user1">
    이름 : <input type="text" name="userName" id="userName">
    <br>우편번호 : <input type="text" name="userPost" id="userPost">
    <br>주소 : <input type="text" name="userAddress" id="userAddress">
    <br>휴대전화 : <input type="text" name="userPhone" id="userPhone">

    <br><br>
    <button type="button" id="orderBtn">결제하기</button>
    <!-- 아임포트 스크립트 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>
        $("#orderBtn").on("click", function () {
            var userId = $("#userId").val();
            var userName = $("#userName").val();
            var userAddress = $("#userAddress").val();
            var userPhone = $("#userPhone").val();
            var productName = $("#productName").val();
            var productCost = $("#productCost").val();
            var merchant_uid = "O" + new Date().getTime(); // 고유 주문번호 생성 

            var IMP = window.IMP;
            IMP.init('imp52301113');          // 고객사 식별코드 입력 
            // request_pay 결제를 요청하는 함수
            IMP.request_pay({
                pg: "html5_inicis",           // 등록된 pg사 (적용된 pg사는 KG이니시스)
                pay_method: "card",           // 결제방식: card(신용카드), trans(실시간계좌이체), vbank(가상계좌), phone(소액결제)
                merchant_uid: merchant_uid,   // 주문번호
                name: productName,            // 상품명
                amount: productCost,          // 금액
                buyer_name: userName,         // 주문자
                buyer_tel: userPhone,         // 전화번호 (필수입력)
                buyer_addr: userAddress,      // 주소
                buyer_postcode: userPost      // 우편번호
            }, function(res) {
                if (res.success) {
                    axios({
                        method: "post",
                        url: `/payment/validation/${rsp.imp_uid}`
                    })
                    // 응답 데이터의 정보들
                    alert("결제 성공!");
                    console.log("Payment ID : " + res.imp_uid);
                    console.log("Order ID : " + res.merchant_uid);
                    console.log("Payment Amount : " + res.paid_amount);
                } else 
                    alert("결제 실패..."+response.error_msg);
            });
        });
    </script>
</body>
</html>